.header-text{
    margin-left: 7px;
    margin-right: 7px;
    display: inline-block;
    position: relative;
    text-decoration: none;
}
.header-icon{
    color: #f59e25;
    width: 42px;
    height: 42px;
    line-height: 42px;
    font-size: 22px;
    display: inline-block;
    text-align: center;
}
.text-wrap{
    line-height: 1.2;
    padding: 10px;
    color: black;
}